# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\亿级流量多级缓存分布式课程\BillionLevelTrafficMultiLevelCache\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
